<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>juanalberto-001-site1.etempurl.com</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>a6a6e04c-080c-47ac-9c2e-9057a854a168</ProjectGuid>
    <SelfContained>false</SelfContained>
    <MSDeployServiceURL>https://juanalberto-001-site1.etempurl.com:8172/MsDeploy.axd?site=juanalberto-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>juanalberto-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>juanalberto-001</UserName>
    <_SavePWD>False</_SavePWD>
    <TargetFramework>netcoreapp3.1</TargetFramework>
  </PropertyGroup>
</Project>