@page "/"

<h2 class="text-black-50 text-center"> Bienvenido al registro de hermanos</h2>
<div class="row">
<img src="./depositphotos_87264650-stock-illustration-church-logo-cross-and-bible.jpg" style="margin:0 auto;" class="embed-responsive" />



</div>
<footer>
    <NavLink href="/Formulario">
        <button href="/Formulario" type="button" style="font:bold" class=" form-control">Pasar al formulario</button>

    </NavLink>
</footer>

@code{

}